.center-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  position: fixed;
  top: 50%;
  height: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 100%;
  width: 100%;
}

.textarea-padding {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
}

.no-line-height {
  line-height: 0 !important;
}
