<ion-header class="background-primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Can Pups Eat It?</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/account']"
        ><ion-icon name="settings-outline" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar
    autocomplete="on"
    autocorrect="on"
    color="light"
    (ionChange)="onFilterChanged(searchBar)"
    #searchBar
  ></ion-searchbar>
</ion-header>

<ion-content color="lightmimbo">
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div
    class="ion-text-center ion-padding"
    *ngIf="!isLoading && filteredFoodList.length<=0"
  >
    <ion-text color="darkmimbo">No Results Found.</ion-text>
  </div>
  <ion-list
    approxItemHeight="48"
    *ngIf="!isLoading && filteredFoodList.length>0"
  >
    <ion-item
      *ngFor="let foodItem of filteredFoodList"
      color="lightmimbo"
      [routerLink]="['/edible/details/',foodItem.name]"
      detail
    >
      <ion-label>{{foodItem.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
