<ion-header class="background-primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Can Pups Eat It?</ion-title>
  </ion-toolbar>
  <ion-searchbar
    autocomplete="on"
    autocorrect="on"
    color="light"
    (ionChange)="onFilterChanged(searchBar)"
    #searchBar
  ></ion-searchbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding" *ngIf="filteredFoodList.length<=0">
    <ion-text color="primary">No Results Found.</ion-text>
  </div>
  <ion-virtual-scroll
    [items]="filteredFoodList"
    approxItemHeight="48"
    *ngIf="filteredFoodList.length>0"
  >
    <ion-item
      *virtualItem="let foodItem"
      [routerLink]="['/edible/details/',foodItem.food]"
      detail
    >
      <ion-label>{{foodItem.food}}</ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
