<ion-header class="background-primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Appointments & Reminders</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/account']"
        ><ion-icon name="settings-outline" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="All" [(ngModel)]="filter">
    <ion-segment-button value="All">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Upcoming">
      <ion-label>Upcoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Past">
      <ion-label>Past</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div
    class="ion-padding ion-text-center"
    *ngIf="!isLoading && loadedReminders.length ===0"
  >
    <ion-text color="primary"
      >You do not have any {{filter!=='All' ? filter.toLowerCase()+' ' :
      ''}}events</ion-text
    >
  </div>
  <ion-fab-button
    ><ion-icon
      name="add-outline"
      class="add-outline"
      routerLink="addit-reminders"
    ></ion-icon
  ></ion-fab-button>
</ion-content>
