.location-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.picker {
  width: 100%;
  height: 20rem;
  border: 1px solid var(--icon-color-primary);
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.actionsheetclass .action-sheet-button {
  color: var(--icon-color-primary) !important;
}
