<ion-header class="background-primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img
          src="../../../assets/images/MimboLogo.png"
          class="logo"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-list>
          <ion-item lines="none" class="ion-text-center">
            <ion-text class="prompt"
              >Kindly enter the email for the account you wish to
              reset</ion-text
            >
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">E-Mail</ion-label>
            <ion-input name="email" #email required></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button color="primary" (click)="resetPassword(email)"
              >Reset Password</ion-button
            >
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
