<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">
          <ion-text color="darkmimbo">Dog Clicker</ion-text>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="wrapper">
          <div class="avocado">
            <div class="avocado__skin"></div>
            <button
              class="animate-button"
              color="#3e8e41"
              (click)="playAudio()"
            ></button>
            <div class="avocado__eye avocado__eye--right"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-padding">
          <ion-text color="darkmimbo">
            <h3>How To Use:</h3>
            <p>
              - To use a clicker, you’ll first need to teach the dog what the
              clicker means.
            </p>
            <p>
              - To teach a dog the meaning of the click, a treat is given
              immediately after clicking.
            </p>
            <p>
              - After about 10–20 repetitions, your dog will understand that the
              marker predicts a coming reward.
            </p>
            <p>
              - You can test your success by clicking when your dog is not
              paying attention to you. If your dog responds to the click by
              suddenly looking at you, then looking for a treat, you are ready
              to move on.
            </p>
            <p>
              - Teach your dog commands using the clicker. At the exact moment
              your dog performs the desired action, press the clicker. Follow
              with a treat and praise.
            </p>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
