<ion-card>
  <swiper-container pagination="true" [zoom]="true">
    <swiper-slide *ngFor="let image of casee.images"
      ><img [src]="image.url" style="width: 100%"
    /></swiper-slide>
  </swiper-container>
  <ion-text
    ><div class="footer">
      <span class="username">@{{ casee.username }}</span>
    </div></ion-text
  >
  <ion-card-title class="type">{{ caseType }}</ion-card-title>
  <ion-card-subtitle class="location">{{ casee.location }}</ion-card-subtitle>
  <ion-card-content class="info">{{ casee.details }}</ion-card-content>
  <div class="interact">
    <ion-button fill="clear" color="darkmimbo" (click)="shareCase(casee.id)">
      <ion-icon
        name="share-social-outline"
        class="share"
        slot="icon-only"
      ></ion-icon>
    </ion-button>

    <ion-button fill="clear" color="darkmimbo" (click)="ViewComments(casee.id)">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-text>{{ casee.commentsCount }} </ion-text>
    </ion-button>
    <ion-text class="date">{{ formatDate(casee.createdDate) }}</ion-text>
  </div>

  <ion-button
    expand="full"
    fill="clear"
    color="primary"
    (click)="viewDetails(casee.id)"
    ><ion-icon name="eye-outline" slot="start"></ion-icon>View Case
    Details</ion-button
  >
  <ion-button
    color="primary"
    class="ion-text-center"
    expand="full"
    fill="clear"
    *ngIf="!hideDelete"
    (click)="editCase(casee.id)"
    ><ion-icon name="pencil-outline" slot="start"></ion-icon>Edit
    Case</ion-button
  >
  <ion-button
    (click)="deleteCase(casee.id)"
    color="danger"
    class="ion-text-center"
    expand="full"
    fill="clear"
    *ngIf="!hideDelete"
    ><ion-icon name="close-circle-outline" slot="start"></ion-icon>Delete
    Case</ion-button
  >
</ion-card>
<div class="line-break"></div>
