swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.type {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  color: var(--ion-color-darkmimbo);
}

.solved {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
  color: var(--ion-color-success);
  font-weight: 800;
}

.location {
  text-align: center;
  font-size: 14px;
  color: var(--ion-color-darkmimbo);
}

.date {
  font-weight: 700;
  color: var(--ion-color-darkmimbo);
  right: 10px;
  position: absolute;
  margin-top: 8px;
}

.interact {
  margin-left: 8px;
  align-items: center;
  width: 100%;
  display: inline-flex;
}

.interact ion-icon {
  font-size: 24px;
  color: var(--ion-color-darkmimbo);
}

.interact ion-text {
  font-size: 16px;
  color: var(--ion-color-darkmimbo);
  padding-left: 5px;
  padding-right: 5px;
}

.share {
  margin-right: 16px;
  margin-left: 8px;
  right: 0;
  position: absolute;
}

.footer {
  margin-left: 8px;
  font-size: 14px;
  display: block;
  height: 24px;
}

.username {
  font-weight: 700;
  color: var(--ion-color-darkmimbo);
  margin-right: 12px;
  margin-top: 8px;
  position: absolute;
}

.info {
  color: var(--ion-color-darkmimbo);
  text-align: center;
  font-size: 18px;
}

ion-button {
  font-size: 16px;
  margin: 0 !important;
}

.div-toggle {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.delete {
  padding-top: 5px;
  padding-bottom: 5px;
}
