<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>First Aid Basics</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/account']"
        ><ion-icon name="settings-outline" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="lightmimbo">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label color="danger">
          Acquiring basic first aid skills can mean the difference between life
          and death for your dog. However, it's crucial to understand that
          giving first aid at home doesn't replace the need for professional
          veterinary care.
          <br /><br />
          Tip: When helping an injured animal, make sure they're held securely
          (or have a muzzle on if possible, unless they're choking). Animals
          might bite when they're scared.</ion-label
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="firstaid-list">
    <ion-item
      *ngFor="let firstaid of firstAidNames"
      color="lightmimbo"
      detail
      [routerLink]="['first-aid-info']"
      [queryParams]="{'type':firstaid}"
      ><ion-label>{{firstaid}}</ion-label></ion-item
    >
  </ion-list>
</ion-content>
