.searchbar {
  background-color: var(--ion-color-lightmimbo);
}

.breedlist {
  background-color: var(--ion-color-lightmimbo);
}

.background-lightmimbo {
  background-color: var(--ion-color-lightmimbo);
}
