ion-card {
  box-shadow: rgb(0 0 0 / 20%) 1px 3px 0px 0px, rgb(0 0 0 / 14%) 4px 2px 2px 0px,
    rgb(0 0 0 / 12%) 5px 5px 5px 0px !important;
}

ion-label {
  color: var(--ion-color-darkmimbo);
}

h5 {
  color: var(--ion-color-darkmimbo);
}
