ion-list {
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-item ion-text {
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

.username {
  margin-bottom: 8px;
  display: inline-block;
}

.delete {
  right: calc(70px - 100%);
  position: relative;
  font-size: 12px;
  color: var(--ion-color-danger);
}
