<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="lightmimbo">
  <form #f="ngForm" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-list>
            <ion-item color="lightmimbo">
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input
                name="email"
                required
                readonly
                [value]="email"
              ></ion-input>
            </ion-item>
            <ion-item color="lightmimbo">
              <ion-label position="floating">Username</ion-label>
              <ion-input
                type="text"
                name="username"
                [(ngModel)]="username"
                required
              ></ion-input>
            </ion-item>
            <ion-item color="lightmimbo">
              <div class="countrycode">
                <ion-img
                  (click)="changeCountryCode()"
                  [src]="codeImage"
                ></ion-img>
                <ion-icon name="caret-down-outline"></ion-icon>
                <input type="hidden" [value]="selectedCode" />
              </div>
              <ion-input
                class="phonenumber"
                type="phone"
                name="phone"
                [(ngModel)]="phoneNumber"
                required
                type="tel"
                placeholder="Phone Number"
              >
              </ion-input>
            </ion-item>
            <ion-item color="lightmimbo">
              <ion-label position="floating">First Name</ion-label>
              <ion-input
                type="text"
                name="firstName"
                [(ngModel)]="firstName"
                required
              ></ion-input>
            </ion-item>
            <ion-item color="lightmimbo">
              <ion-label position="floating">Last Name</ion-label>
              <ion-input
                type="text"
                name="lastName"
                [(ngModel)]="lastName"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-button
            color="primary"
            expand="full"
            (click)="updateProfile()"
            [disabled]="!f.valid"
            ><ion-icon name="save-outline" slot="start"></ion-icon>Update
            Profile</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
