<ion-header class="background-primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Training Tools</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/profile']"
        ><ion-icon name="person-outline" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" color="primary">
      <ion-tab-button tab="clicker">
        <ion-icon src="../../../../assets/images/icons/clicker.svg"> </ion-icon>
        <ion-label>Clicker</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="whistle">
        <ion-icon src="../../../../assets/images/icons/whistle.svg"> </ion-icon>
        <ion-label>Whistle</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
