<ion-header class="background-primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Doggogram</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/account']"
        ><ion-icon name="settings-outline" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="lightmimbo">
  <div class="ion-padding ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="ion-padding ion-text-center" *ngIf="posts.length ===0">
      <ion-text color="darkmimbo"
        >There are no posts yet. You can start by adding your own.</ion-text
      >
    </div>

    <div *ngIf="posts.length >0">
      <app-post-card
        *ngFor="let post of posts"
        [post]="post"
        [userId]="userId"
        [posts]="posts"
      ></app-post-card>
    </div>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button
          color="primary"
          (click)="onPickImageFromCamera('Gallery')"
        >
          <ion-icon name="image-outline" style="font-size: 24px"></ion-icon>
        </ion-fab-button>
        <ion-fab-button
          color="primary"
          (click)="onPickImageFromCamera('Camera')"
        >
          <ion-icon name="camera-outline" style="font-size: 24px"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
