.username {
  font-weight: 700;
  color: var(--ion-color-darkmimbo);
  margin-right: 12px;
}

.caption {
  color: var(--ion-color-darkmimbo);
}

.footer {
  padding-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.interact {
  margin-left: 8px;
  align-items: center;
  width: 100%;
  display: inline-flex;
}

.interact ion-icon {
  font-size: 24px;
  color: var(--ion-color-darkmimbo);
}

.interact ion-text {
  font-size: 16px;
  color: var(--ion-color-darkmimbo);
  padding-left: 5px;
  padding-right: 5px;
}

.date {
  right: 8px;
  position: absolute;
}
