<ion-card>
  <ion-card-content class="ion-no-padding">
    <img [src]="post.imageUrl" style="width: 100%" />
    <div class="interact">
      <ion-icon
        name="heart-outline"
        *ngIf="!post.isLiked"
        (click)="ToggleLike(post.id)"
      ></ion-icon>
      <ion-icon
        name="heart"
        color="danger"
        *ngIf="post.isLiked"
        (click)="ToggleLike(post.id)"
      ></ion-icon>
      <ion-text style="margin-right: 16px">{{ post.likesCount }}</ion-text>
      <ion-icon
        name="chatbubble-outline"
        (click)="ViewComments(post.id)"
      ></ion-icon>
      <ion-text>{{ post.commentsCount }}</ion-text>
      <ion-text class="date">{{ formatDate(post.createdDate) }}</ion-text>
    </div>
    <ion-text
      ><div class="footer">
        <span class="username">@{{ post.username }}</span>
        <span class="caption">{{ post.caption }}</span>
      </div></ion-text
    >
    <ion-button
      (click)="editCaption(post.id)"
      color="primary"
      class="ion-text-center"
      expand="full"
      fill="clear"
      *ngIf="!hideDelete"
      ><ion-icon name="pencil-outline" slot="start"></ion-icon>Edit
      Caption</ion-button
    >
    <ion-button
      (click)="deletePost(post.id)"
      color="danger"
      class="ion-text-center"
      expand="full"
      fill="clear"
      *ngIf="!hideDelete"
      ><ion-icon name="close-circle-outline" slot="start"></ion-icon>Delete
      Post</ion-button
    >
  </ion-card-content>
</ion-card>
