<ion-header class="background-primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" class="ion-padding" (ngSubmit)="updatePassword(f)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img
            src="../../../assets/images/MimboLogo.png"
            class="logo"
          ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input
                type="email"
                name="email"
                readonly
                disabled
                value="{{email}}"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Current Password</ion-label>
              <ion-input
                type="password"
                name="currentPassword"
                ngModel
                required
                minlength="6"
                #currentPasswordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">New Password</ion-label>
              <ion-input
                type="password"
                name="newPassword"
                ngModel
                required
                minlength="6"
                #newPasswordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!newPasswordCtrl.valid && newPasswordCtrl.touched">
              <ion-text color="danger">
                <small
                  >Password should be at least 6 characters long.</small
                ></ion-text
              >
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm New Password</ion-label>
              <ion-input
                type="password"
                name="confirmPassword"
                ngModel
                required
                #confirmPasswordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordsMatch" lines="none">
              <ion-text color="danger"
                ><small>Passwords do not match.</small></ion-text
              >
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-button
            color="primary"
            expand="block"
            type="submit"
            [disabled]="!f.valid"
            >Update Password</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
