.countrycode {
  width: 60px;
}

.countrycode ion-img {
  width: 28px;
  display: inline-block;
}

.phonenumber {
  padding-left: 12px !important;
  max-width: calc(100% - 44px) !important;
}

ion-list {
  background-color: var(--ion-color-lightmimbo);
}
