<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Case</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="lightmimbo">
  <form #f="ngForm" class="ion-padding" (ngSubmit)="save()">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-list>
            <ion-item color="lightmimbo">
              <ion-label position="floating"></ion-label>
              <ion-select
                required
                name="caseType"
                placeholder="--Case Type--"
                [(ngModel)]="caseType"
              >
                <ion-select-option value="adoption"
                  >For Adoption</ion-select-option
                >
                <ion-select-option value="lost">Lost Pet</ion-select-option>
                <ion-select-option value="found">Found Pet</ion-select-option>
                <ion-select-option value="foster"
                  >Foster Needed</ion-select-option
                >
                <ion-select-option value="cashdonation"
                  >Cash Donation Needed</ion-select-option
                >
                <ion-select-option value="supplies">
                  Pet Supplies Donation Needed</ion-select-option
                >
                <ion-select-option value="report"
                  >Cruelty Report</ion-select-option
                >
                <ion-select-option value="other">Other</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item color="lightmimbo">
              <div class="countrycode">
                <ion-img
                  (click)="changeCountryCode()"
                  [src]="codeImage"
                ></ion-img>
                <ion-icon name="caret-down-outline"></ion-icon>
                <input type="hidden" [value]="selectedCode" />
              </div>
              <ion-input
                class="phonenumber"
                type="phone"
                name="phone"
                [(ngModel)]="phoneNumber"
                required
                type="tel"
                placeholder="Phone Number"
              >
              </ion-input>
            </ion-item>
            <ion-item color="lightmimbo">
              <ion-label position="floating">Region</ion-label>
              <ion-input name="region" [(ngModel)]="region" required>
              </ion-input>
            </ion-item>
            <ion-item color="lightmimbo">
              <ion-label position="floating">Case Details</ion-label>
              <ion-textarea
                [(ngModel)]="details"
                name="details"
                rows="10"
                placeholder="Share with us the information you have about this case"
                required
              ></ion-textarea
            ></ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-button
            expand="full"
            (click)="addImage()"
            [disabled]="images.length>4"
            ><ion-icon name="camera-outline" slot="start"></ion-icon> Add Image
            <br
          /></ion-button>
        </ion-col>
      </ion-row>
      <ion-row
        ><ion-col sizeSm="8" offsetSm="2">
          <div *ngIf="images.length >0">
            <div *ngFor="let image of images;index as i" class="image-wrap">
              <ion-icon
                name="close-circle-outline"
                class="close"
                (click)="removePhoto(i)"
              ></ion-icon>
              <ion-img ion-item [src]="image" class="uploaded-images"></ion-img>
            </div>
          </div>
          <div *ngIf="images.length ===0">
            <ion-text color="danger"
              >Upload at least one picture to save. (Up to 5 images)</ion-text
            >
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="8" offsetSm="2">
          <ion-button
            color="primary"
            expand="block"
            type="submit"
            [disabled]="!f.valid || images.length===0"
            ><ion-icon name="save" slot="start"></ion-icon>Save</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
