.toggle {
  width: 150px;
  height: 70px;
}
.toggle ion-icon {
  font-size: 48px;
  color: var(--ion-color-light);
}

.toggle ion-icon.active {
  color: var(--ion-color-success);
}

ion-segment-button {
  color: var(--ion-color-darkmimbo);
}
