<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">
          <ion-text color="darkmimbo"> Dog Whistle</ion-text>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="darkmimbo"
          >Choose the frequency your dog responds to</ion-text
        >
        <ion-segment
          value="11200"
          scrollable
          color="primary"
          (ionChange)="segmentChanged($event)"
        >
          <ion-segment-button value="11200">
            <small>11200Hz</small>
          </ion-segment-button>
          <ion-segment-button value="12200">
            <small>12200Hz</small>
          </ion-segment-button>
          <ion-segment-button value="16000">
            <small>16000Hz</small>
          </ion-segment-button>
          <ion-segment-button value="20000">
            <small>20000Hz</small>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        size="10"
        offset="1"
        sizeMd="6"
        offsetMd="3"
        sizeLg="4"
        offsetLg="4"
      >
        <ion-img src="../../../assets/images/icons/whistleBlue.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-button class="toggle" (click)="toggleSound()"
            ><ion-icon
              name="power-outline"
              slot="icon-only"
              [ngClass]="{'active': isPlaying === true}"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row offset="1" sizeMd="6" offsetMd="3">
      <ion-col
        ><div class="ion-padding">
          <ion-text color="darkmimbo">
            <h3>How To Use:</h3>
            <p>
              - Whistles have been used for dog training and communication for
              generations.
            </p>
            <p>
              - You can use a whistle to talk with your dog and establish a
              behavioral routine.
            </p>
            <p>
              - Don't use the whistle close to their ears. Dogs hear at a much
              higher frequency than humans, so they're naturally more sensitive
              to sounds.
            </p>
            <p>
              - If your dog responds to a verbal command, issue the command and
              then start the whistle for a couple of seconds. Reward your dog
              for responding and then carry on with the training.
            </p>
            <p>
              - Eventually, the dog will associate the whistle blast with the
              command, and the whistle will be all you need.
            </p>
          </ion-text>
        </div></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
