#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.slogan {
  width: 100%;
  padding-top: 16px;
}

.square {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 5%;
  border: 1px solid #6f5034;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.square.fullImg {
  padding: 0;
}

.square.fullImg img {
  object-fit: cover;
}

.background-color {
  background-color: #ece6d8;
}
.font-size {
  font-size: 0.9em;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 24px !important;
}
