<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Account Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="lightmimbo">
  <ion-list class="settings-list">
    <ion-item detail routerLink="mydogs" color="lightmimbo"
      ><ion-icon
        src="../../assets/images/icons/dog.svg"
        class="ion-item-left ion-margin-end"
      ></ion-icon>
      <ion-label>My Dogs</ion-label></ion-item
    >
    <ion-item detail routerLink="profile" color="lightmimbo"
      ><ion-icon
        name="person-outline"
        class="ion-item-left ion-margin-end"
      ></ion-icon
      ><ion-label>My Profile</ion-label></ion-item
    >
    <ion-item detail routerLink="myposts" color="lightmimbo"
      ><ion-icon
        name="image-outline"
        class="ion-item-left ion-margin-end"
      ></ion-icon
      ><ion-label>My Doggogram Posts</ion-label></ion-item
    >
    <ion-item detail routerLink="mycases" color="lightmimbo"
      ><ion-icon
        name="document-text-outline"
        class="ion-item-left ion-margin-end"
      ></ion-icon
      ><ion-label>My Rescue Central Cases</ion-label></ion-item
    >
    <ion-item detail routerLink="change-password" color="lightmimbo"
      ><ion-icon
        name="lock-closed-outline"
        class="ion-item-left ion-margin-end"
      ></ion-icon
      ><ion-label>Change Password</ion-label></ion-item
    >
    <ion-item detail routerLink="contact-us" color="lightmimbo"
      ><ion-icon
        name="mail-outline"
        class="ion-item-left ion-margin-end"
      ></ion-icon
      ><ion-label>Contact Us</ion-label></ion-item
    >
    <ion-item detail (click)="shareApp()" color="lightmimbo"
      ><ion-icon
        name="share-social-outline"
        class="ion-item-left ion-margin-end"
      ></ion-icon
      ><ion-label>Invite Friends</ion-label></ion-item
    >
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <ion-button color="danger" expand="full" (click)="logout()"
          ><ion-icon name="log-out-outline" slot="start"></ion-icon>Log
          Out</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <ion-button color="danger" expand="full" (click)="deleteProfile()"
          ><ion-icon name="close-circle-outline" slot="start"></ion-icon> Delete
          Account</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
